.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover, .nav-link.active {
    color: #ffffff !important;
}
