@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* General Styles */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e !important; /* Force dark background */
    color: #ddd;
}

/* Header Styling */
header {
    background: linear-gradient(to right, #444, #222);
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #ddd;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #bbb;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    width: 470px;
    padding: 10px;
    border: 2px solid #666;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    background: #333;
    color: #ddd;
}

.search-container button {
    padding: 10px 15px;
    background: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;
    transition: background 0.3s;
}

.search-container button:hover {
    background: #333;
}

/* Movie Cards */
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background: linear-gradient(145deg, #555, #333);
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    position: relative;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
}

.movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.movie-card h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card:hover img {
    transform: scale(1.07);
}

.comment {
    background: #444;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #ddd;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .search-container input {
        width: 80%;
    }
    
    .movie-card {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    header {
        font-size: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }

    .movie-card {
        width: 100%;
    }
}