/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    overflow-x: hidden;
    background: #121212; /* Dark background */
}

/* Logo Container */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.logo-container img {
    width: auto; /* Adjust logo size */
    margin: 0%;
}

/* Login Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
}

/* Quote Styling */
.quote {
    font-size: 0.9rem;  
    font-style: italic;
    opacity: 0.7;
    max-width: 500px;
    text-align: center;
    margin-bottom: 15px;
}

/* Login Card */
.card {
    background: rgba(24, 24, 24, 0.9);
    padding: 20px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 280px;
    align-content: center;
}

/* Card Heading */
.card h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #00b894;
}

/* Input Fields */
.card input {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    background: #222;
    color: white;
    font-size: 14px;
    outline: none;
}

.card input::placeholder {
    color: #aaa;
}

.card input:focus {
    background: #333;
}

/* Login Button */
.card button {
    width: 111%;
    padding: 10px;
    background: #00b894;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.card button:hover {
    background: #55efc4;
}

/* Register Link */
.card p {
    margin-top: 10px;
    font-size: 13px;
    color: #ddd;
}

.card p a {
    color: #00b894;
    text-decoration: none;
}

.card p a:hover {
    color: #55efc4;
}

/* Responsive Design */
@media (max-width: 400px) {
    .card {
        width: 90%;
    }
    .logo-container img {
        width: 140px;
    }
}
