{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVUE</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script defer src="{% static 'js/header.js' %}"></script>
</head>

<body>
    {% include 'header.html' %}

    <!-- Movie List Container -->
    <div id="movie-list" class="movies-container"></div>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search for a movie..." onkeyup="searchMovies()">
        <button onclick="searchMovies()">Search</button>
    </div>

    <section class="movies">
        {% for mov in list %}
        <div class="movie-card" data-id="{{ mov.movieid }}" onclick="openMoviePopup('{{ mov.movieid }}')">
            <img src="{{ mov.poster.url }}" alt="{{ mov.title }} Poster" height="50%" width="50%">
            <h2>{{ mov.title }}</h2>
            <a href="{% url 'information' mov.movieid %}">View</a>
        </div>
        {% endfor %}
    </section>
</body>
</html>
