

<h4>title:{{movies.title}}</h4>
{{movies.poster.url}}
<img src="{{ movies.poster.url }}" height="50%" width="45%">
 <h4>description:{{movies.description}}</h4>
  <h4>release date:{{movies.releasedate}}</h4>
 
   <h4>genre:</h4>
  {%for moviegenre in movie_genres%}
  <li> {{moviegenre.name}}</li>
  {% empty %} 
  <li>No genres available.</li>
{%endfor%}

 {%for review in reviews %}
<li> review:{{review.review}}</li>
 <li> rating:{{review.rating}}
  {{review.userid_id}}</li>

 {% empty %} 
  <li>No  available.</li>
{%endfor%}

<form action="" method="post">
  {% csrf_token %}

<input type="number" name="rating"><br>
<textarea name="review" id=""></textarea><br>
<button type="submit" name="submit">add</button>
</form>

 



