{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - MOVUE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <header>
        <h1>MOVUE</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="register.html" class="active">Register</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="card">
            <h2>Register</h2>
            <form action="" method="post">
                 {% csrf_token %}
                <input type="text" id="first_name" name="first_name" placeholder="First name" required>
                <input type="text" id="last_name" name="last_name" placeholder="Last name" required>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="password" id="password"  name="password" placeholder="Password" required>
                <input type="password" id="cpassword"  name="cpassword" placeholder=" Confirm Password" required>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'userlogin'%}">Login</a></p>
        </div>
    </div>
</body>
</html>
